@CHARSET "UTF-8";
.header {
  background-color:rgb(50, 50, 50);
}
.head-nav ul{overflow:hidden;}
.head-nav ul li{float:left;width:20%;}

.main {
  background-color: rgb(59, 184, 120);
}
.b-search{
	position: relative;
	border: 1px solid #EEE;
	padding: 0.5em 0;
	background: #fff;
}
.b-search input[type="text"]{
	width: 80%;
	outline: none;
	padding: 0em 0.6em;
	font-size: 1em;
	color: #999;
	position: relative;
	border: none;
}
.b-search input[type="submit"]{
	background: url(../icons/search-icon.png) no-repeat 0px 2px;
	border: none;
	height: 26px;
	width: 26px;
	display: inline-block;
	position: absolute;
	outline: none;
	cursor: pointer;
	top: 6px;
	right: 2px;
}